<html>
<head>
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
	</head>
	<body>
		<div class="container">
		<center>
			<h1 style="color: darkblue"> <b>Secure file transfer using Diffie-Hellman protocol</b> </h1><br><br>
			<form action = "/download_data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required/>
				<br><br><input type = "Submit"/>
			</form>
			<p style="font-size: 20px">People are constantly travelling around and need to have a medium where they can store their files and access them when needed. The biggest challenge for such an undertaking is to secure the files that are stored on the cloud and to prevent them from being misused by any unauthorised person. This project invloves storing the files in an encrypted and secured manner in the cloud using Diffie Hellman algorithm thus providing security and unhindered access</p>
			<br><h3><b>A Project by:</b></h3><br>
			<h4><i><b>Hardik Gaur<br>B.Tech (CSE)<br>GE-152010638</b></i></h34>
			<br>
			<h4><i><b>Parth Trehan<br>B.Tech (CSE)<br>GE-152010638</b></i></h4>
		</center>
	</div>
	</body>
</html>