<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title></title>
	</head>
	<body>
		<center>
			<h1> Thrain </h1><br><br>
			<table>
				<tr>
					<td><a href='public-key-directory' target="blank"><button class="btn" style="margin-right: 10px;">public-key-directory</button></a></td>
					<td><a href='home'><button class="btn" style="margin-right: 10px;">home</button></a></td>
					<td><a href='upload-file'><button class="btn" style="margin-right: 10px;">upload-file</button></a></td>
				</tr>
			</table>
			<br><br>
			<div class="container" style="font-size:25px;">
				<p>In this case the user has uploaded his file on the cloud. Now he has the following three options:</p>
				<br>
					He can either get the list of all the different files that are present on the cloud.
					<br>He can also navigate back to the home page of this website.
					<br>He may even choose to upliad another file on the cloud.
			</div>
		</center>
	</body>
</html>