<!DOCTYPE html>
<html>
	<head>
		<title>thrain - Register</title>
	</head>
	<body>
		<center>
			<h2>register yourself</h2>
			<h6>{{ name }}</h6>
			<form action="/register-new-user" method="POST">
				<input name="username" type="text" placeholder = "username"required /> <br />
				<input name="first-name" type="text" placeholder= "first name" required /> <br /> 
				<input name="last-name" type="text" placeholder= "second name" required /> <br />
				<input type="submit" />
			</form>
		</center>
	</body>
</html>