<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>uploaded successfully</title>
	</head>
	<body>
		<center>
			<h1>Secure file transfer using Diffie-Hellman protocol</h1><br>
			<b><p style="color:green; font-size:30px">SUCCESS</p></b>
			<table>
				<tr>
					<td><a href='return-file' target="blank"><button class="btn btn-lg btn-info"
						style="margin-right: 10px;">Download File</button></a></td>
					<td><a href='home'><button class="btn btn-lg btn-info">Back to HOME</button></a></td>
				</tr>
			</table>
			<br>
			<div class="container">
			<p style="font-size: 20px;">Diffie-Hellman key exchange, also called exponential key exchange, is a method of digital encryption that uses numbers raised to specific powers to produce decryption keys on the basis of components that are never directly transmitted, making the task of a would-be code breaker mathematically overwhelming. Traditionally, secure encrypted communication between two parties required that they first exchange keys by some secure physical channel, such as paper key lists transported by a trusted courier. The Diffie–Hellman key exchange method allows two parties that have no prior knowledge of each other to jointly establish a shared secret key over an insecure channel. This key can then be used to encrypt subsequent communications using a symmetric key cipher.
			</p>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Diffie-Hellman_Key_Exchange.svg/250px-Diffie-Hellman_Key_Exchange.svg.png" >
		</div>
		</center>
	</body>
</html>