<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title></title>
	</head>
	<body>
		<center>
			<h1> Thrain </h1><br><br>
			<div class="container" style="font-size:25px">PLease select the file you wish to upload to the cloud. Make sure the file has been encrypted using the standalone application.
			</div>
			<br>
			<br>
			<form action = "/data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required>
				<br><br><input type = "submit" class="btn btn-info btn-lg">
			</form>
			<br>
		</center>
	</body>
</html>